.news_container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 2px;
    background: #FFFFFF;
    padding: 20px;
    margin-top: 50px;
    width: 600px;
}
.news_content{
    position: relative;
    font-weight: 200;
    font-size: 20px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.news_title{
    position: relative;
    font-weight: 900;
    font-size: 35px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.news_username{
    font-size: 15px;
}
.news_time{
    font-size: 15px;
}
.news_subject{
    font-size: 15px;
}
#conweather{
    width: 400px;
    margin-top: 50px;
    height: 280px;
}
/*
.logimg{
    width: 45px;
    height: 45px;
}*/
